.info {
  cursor: help;
}

.subtitle {
  color: #7e7e7e;
  margin-bottom: 0;
}



.unavailableDataDiv {
  color: #7e7e7e;
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 16px;
}

.widget-url,
.info {
  margin-right: 5px;
}

.widget-title {
  max-width: 85%;
}
