/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dynamic-widget-container{
  @import "bootstrap/dist/css/bootstrap-grid";
  @import "bootstrap/dist/css/bootstrap-utilities";

  .widget-tooltip{
    white-space: pre-wrap;
    font-size: 0.8rem !important;
    opacity: 0.8;
  }
}
